{
  "extends": "google",
  "rules": {
    "no-with": 2,
    "no-var": 0,
    "max-len": [
      2,
      120
    ],
    "indent": [
      2,
      4,
      {
        "SwitchCase": 1
      }
    ],
    "comma-spacing": [
      2,
      {
        "after": true
      }
    ],
    "semi": [
      2,
      "always"
    ]
  }
}